<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>My Angular App</title>
    <meta charset="utf-8"/>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-controller="DepartmentController as vm">

    <input type="button" ng-click="vm.getDepartments()" value="Get Departments"/>

<table class="table table-bordered">
    <tr>
        <td>Department Id</td>
        <td>Name</td>
    </tr>
    <tr ng-repeat="department in vm.departments">
        <td ng-bind="department.Id"></td>
        <td ng-bind="department.Name"></td>
    </tr>
</table>


    <!--Nesting Controller-->
<div ng-controller="EmployeeController as empVm">
    <select ng-model="vm.selectedDepartment"
            ng-change="empVm.getEmployees(vm.selectedDepartment)"
            ng-options="department.Id as department.Name for department in vm.departments"></select>
    {{vm.selectedDepartment}}

    <div>
        <hr />
        <p>Following Select List belongs to employees Controller</p>
        {{vm.employees}}
        <select ng-model="empVm.selectedEmployee"
                ng-options="employee.Id as employee.Name for employee in empVm.employees">

        </select>
        {{empVm.selectedEmployee}}
    </div>
    
</div>


<script src="scripts/angular.js"></script>
    <script src="app/app.js"></script>
</body>
</html>

<!-- Various directives
ng-app
ng-bind
ng-init
ng-show
ng-hide
ng-model
ng-true-value
ng-false-value
ng-options
ng-repeat
ng-click
ng-if
-->
